.img1 {
    background-image: url('/images/bgImages/bg01n.jpeg')
}
.img2 {
    background-image: url('/images/bgImages/bg01n.jpeg')
}
.img3 {
    background-image: url('/images/bgImages/bg02d.jpeg')
}
.img4 {
    background-image: url('/images/bgImages/bg02n.jpeg')
}
.img5 {
    background-image: url('/images/bgImages/bg03d.jpeg')
}
.img6 {
    background-image: url('/images/bgImages/bg03n.jpeg')
}
.img7 {
    background-image: url('/images/bgImages/bg04d.jpeg')
}
.img8 {
    background-image: url('/images/bgImages/bg04n.jpeg')
}
.img9 {
    background-image: url('/images/bgImages/bg09d.jpeg')
}
.img10 {
    background-image: url('/images/bgImages/bg09n.jpeg')
}
.img11 {
    background-image: url('/images/bgImages/bg10d.jpeg')
}
.img12 {
    background-image: url('/images/bgImages/bg10n.jpeg')
}
.img13 {
    background-image: url('/images/bgImages/bg11d.jpeg')
}
.img14 {
    background-image: url('/images/bgImages/bg11n.jpeg')
}
.img15 {
    background-image: url('/images/bgImages/bg13d.jpeg')
}
.img16 {
    background-image: url('/images/bgImages/bg13n.jpeg')
}
.img17 {
    background-image: url('/images/bgImages/bg50d.jpeg')
}
.img18 {
    background-image: url('/images/bgImages/bg50n.jpeg')
}
